<section data-ng-controller="PrescriptionsController">
    <div class="page-header">
        <h1>Search Prescription</h1>
    </div>
    <div class="col-md-12">
        <form name="searchForm" class="form-horizontal" data-ng-submit="search()" novalidate>
            <fieldset>
                <div class="form-group">
                    <h4>Right eye</h4>
                    <label class="control-label" for="rCylinder">Cylinder</label>
                    <div class="controls">
                        <input type="number" data-ng-model="rCylinder" id="rCylinder" class="form-control" placeholder="Cylinder" required>
                    </div>
                    <label class="control-label" for="rSphere">Sphere</label>
                    <div class="controls">
                        <input type="number" data-ng-model="rSphere" id="rSphere" class="form-control" placeholder="Sphere" required>
                    </div>
                    <label class="control-label" for="rAxis">Axis</label>
                    <div class="controls">
                        <input type="number" data-ng-model="rAxis" id="rAxis" class="form-control" placeholder="Axis" required>
                    </div>
                </div>

                <div class="form-group">
                    <h4>Left eye</h4>
                    <label class="control-label" for="lCylinder">Cylinder</label>
                    <div class="controls">
                        <input type="number" data-ng-model="lCylinder" id="lCylinder" class="form-control" placeholder="Cylinder" required>
                    </div>
                    <label class="control-label" for="lSphere">Sphere</label>
                    <div class="controls">
                        <input type="number" data-ng-model="lSphere" id="lSphere" class="form-control" placeholder="Sphere" required>
                    </div>
                    <label class="control-label" for="lAxis">Axis</label>
                    <div class="controls">
                        <input type="number" data-ng-model="lAxis" id="lAxis" class="form-control" placeholder="Axis" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>

        <div class="list-group" data-ng-show="prescriptions.$resolved || !prescriptions.length">
            <a data-ng-repeat="prescription in prescriptions" data-ng-href="#!/prescriptions/{{prescription._id}}" class="list-group-item">
                <small class="list-group-item-text">

                <span ng-repeat="eye in prescription.eyes">
                    <strong>{{eye.position}}</strong>-{{eye.cylinder}}-{{eye.sphere}}-{{eye.axis}}
                </span>
                </small>
                <h4 class="list-group-item-heading" data-ng-bind="prescription.number"></h4>
            </a>
        </div>
    </div>
</section>